html{
  height:100%;
}
#app{
  width:100%;
  height: 100%;
}
.index-admin{
  @include flex(center,center);
  height: 100%;
  margin: 0;
  .main-app{
    width:100%;
    height: 100%;
    background: $white;
    margin-top: 45px;
    padding-top: 25px;
  }
  &.admin-home{
    .main-app{
      display: flex;
      justify-content: center;
      align-items: start;
    }
  }
  &.main-bottom{
    position: relative;
  }
  .active-bar{
    overflow: unset;
  }
  button.btn-submit{
    margin-top: 20px;
    margin-right: 20%;
    float: right;
    cursor: pointer;
    min-height: 2.4rem;
    min-width: 2.4rem;
    padding: 0.1rem 2.4rem;
    border-color: #000;
    color: #fff;
    background: linear-gradient(180deg,#000,#111);
    box-shadow: inset 0 1px 0 0 #000, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent;
  }
}
.Orders-trigger-container{
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  outline: 0;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #8F1EB2;
  border-radius: 50%;
  background-size: cover;
  display: none;
  background: url("images/icon_accessibility.png");
}
body{
  &.show-default{
    .Orders-trigger-container{
      display: none;
    }
  }

  &.footer,&.left,&.right,&.middle{
    .Orders-trigger-container{
      display: none;
    }
    .Orders-popup-full{
      display: block;
    }
    &.trigger-true{
      .Orders-trigger-container{
        display: none;
      }
      .Orders-popup-full{
        display: block;
      }
    }
    &.trigger-false{
      .Orders-trigger-container{
        display: block;
      }
      .Orders-popup-full{
        display: none;
      }
    }
    &.admin-page{
      .Orders-trigger-container{
        display: block !important;
      }
      .Orders-popup-full{
        display: none !important;
      }
    }
  }
  &.left{
    .Orders-trigger-container{
      margin-left: 0;
    }
  }
  &.right{
    .Orders-trigger-container{
      float: right;
    }
  }
  &.middle{
    .Orders-trigger-container{
      margin: auto;
    }
  }
  &.default{
    .Orders-trigger-container{
      display: none !important;
    }
    .Orders-popup-full{
      display: block !important;
    }
    &.admin-page{
      .Orders-trigger-container{
        display: none !important;
      }
      .Orders-popup-full{
        display: block !important;
      }
    }
  }

}
.upload-page{
  .title{
    text-align: center;
    text-transform: uppercase;
    font-size:24px;

  }
  .nav-tabs{
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    a{
      color:#000;
    }
  }
  .tab-content{
    max-width: 500px;
    margin: auto;
    padding-top: 30px;
    &>.active{
      border: none;
    }
  }
  .table{
    max-width: 80%;
    margin: 1rem auto;
  }
}
.index-admin{
  .nav-wrapper{
    background-color: #212121;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 45px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .toggle-nav {
    color: #fff;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    box-shadow: none;
    border: 0;
    outline: none;
    padding: 0.5rem;

  }
  .nav-list {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: -15rem;
    width: 0;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    > .list.-left {
      background: #212121;
      position: relative;
      width: 100%;
      height: 100%;
    }
    &.-open {
      width: 100%;
      left: 0;
      padding-bottom: 4.5rem;

      > .list.-left {
        overflow-y: auto;
        overscroll-behavior-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
      > .list {
        > .item {
          display: flex;
          padding: 0;
          border-bottom: 1px solid rgba(176, 176, 176, 0.5);
          > .link {
            border-color: transparent;
            padding: 0.75rem 1rem 0.5rem 1rem;
            flex-basis: 100%;
            display: block;
            background: transparent;
            font-size: 1.5rem;
            padding-left: 1.5rem;
            color: #e0e0e0;
            transition: all 0.3s ease-in-out;
            font-size: 14px;
          }
        }
      }
  }
}

.input-group-append .btn, .input-group-prepend .btn{
  margin: 0;
}
.form-settings{
  width: 100%;
}
body .readable-text{
  .custom-input{
    position: relative;
    opacity: 1;
    width: auto;
    max-width: 42px;
    text-align: center;
    height: 25px;
  }
}
.nav-list-new{
  padding:0;
  margin: 0;
  .list-new{
    padding-left: 14px;
    display: flex;
    .item {
      color: #fff;
      list-style-type: none;
      margin: 0 10px;
      font-size: 14px;
      a {
        color: #fff;
      }
    }
  }
}
.destop{
  display: none;
}
@media(min-width:768px){
  .mobi{
    display: none !important;
  }
  .destop{
    display: block!important;
  }
}

.trigger-false{
  .Orders-trigger-container{
    display: block;
  }
  .Orders-popup-full{
    display: none;
  }
}
.admin-position{
  .mc-general-settings {
    padding:35px;
    text-align: center;
  }

  .picker-default {
    border: 1px solid #ddd;
    height: 200px;
    position: relative;
    max-width:300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  .picker-default .container {
    position: absolute;
    width: 25px;
  }
  .check-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    height: 25px;
  }
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .btn-general-settings{
    width: 120px;
    color: #fff;
    background-color: #000;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: -.5px;
    line-height: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    padding: .3125rem .75rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    transition: all .15s linear;
    margin: 10px 0 0 0;
  }
  .Orders-trigger-container{
    display: block !important;
    position: fixed;
    z-index: 99999;
  }
  .Orders-trigger-container.middle-left{
    left:20px;
    top: 50%;
  }
  .Orders-trigger-container.middle-right{
    right:20px;
    top: 50%;
  }
  .Orders-trigger-container.bottom-left{
    bottom: 50px;
    left: 20px;
  }
  .Orders-trigger-container.bottom-right{
    bottom: 50px;
    right: 20px;
  }
  .Orders-trigger-container.bottom-middle{
    bottom: 50px;
    left: 0;
    right:0;
    margin: auto;
  }
  .Orders-trigger-container.default{
    bottom: 50px;
    right: 20px;
  }
}
.admin-custom-checkbox{
  .items {
    position: relative;
  }

  .picker-default .container {
    position: absolute;
    width: 25px;
  }
  .check-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    height: 25px;
  }
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .btn-general-settings{
    width: 120px;
    color: #fff;
    background-color: #000;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: -.5px;
    line-height: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    padding: .3125rem .75rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    transition: all .15s linear;
    margin: 10px 0 0 0;
  }
}