html{
  height:100%;
}
#app{
  width:100%;
  height: 100%;
}
.index-admin{
  @include flex(center,center);
  height: 100%;
  margin: 0;
  .main-app{
    width:100%;
    height: 100%;
    background: $white;
  }
  &.admin-home{
    .main-app{
      display: flex;
      justify-content: center;
    }
  }
  &.main-bottom{
    position: relative;
  }
}
.Orders-trigger-container{
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  outline: 0;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #8F1EB2;
  border-radius: 50%;
  background-size: cover;
  background: url("images/icon_accessibility.png");
}
body{
  &.show-default{
    .Orders-trigger-container{
      display: none;
    }
  }

  &.footer,&.left,&.right,&.middle{
    .Orders-trigger-container{
      display: none;
    }
    .Orders-popup-full{
      display: block;
    }
    &.trigger-true{
      .Orders-trigger-container{
        display: none;
      }
      .Orders-popup-full{
        display: block;
      }
    }
    &.trigger-false{
      .Orders-trigger-container{
        display: block;
      }
      .Orders-popup-full{
        display: none;
      }
    }
    &.admin-page{
      .Orders-trigger-container{
        display: block !important;
      }
      .Orders-popup-full{
        display: none !important;
      }
    }
  }
  &.left{
    .Orders-trigger-container{
      margin-left: 0;
    }
  }
  &.right{
    .Orders-trigger-container{
      float: right;
    }
  }
  &.middle{
    .Orders-trigger-container{
      margin: auto;
    }
  }
  &.default{
    .Orders-trigger-container{
      display: none !important;
    }
    .Orders-popup-full{
      display: block !important;
    }
    &.admin-page{
      .Orders-trigger-container{
        display: none !important;
      }
      .Orders-popup-full{
        display: block !important;
      }
    }
  }

}
.upload-page{
  .title{
    text-align: center;
    text-transform: uppercase;
    font-size:24px;

  }
  .nav-tabs{
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    a{
      color:#000;
    }
  }
  .tab-content{
    max-width: 500px;
    margin: auto;
    padding-top: 30px;
    &>.active{
      border: none;
    }
  }
  .table{
    max-width: 80%;
    margin: 1rem auto;
  }
}
